@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Kanit', sans-serif;
}

header {
    background: rgb(160, 28, 28);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    border: 0px;
} 

li {
    color: rgb(255, 255, 255);
    display: inline;
    margin: 0 10px; /* Adicione margens horizontais para separar os elementos */
}

li:first-child {
    margin-left: 0; /* Remova a margem à esquerda do primeiro elemento */
}

li:last-child {
    margin-right: 0; /* Remova a margem à direita do último elemento */
}

li a {
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

li a:hover {
    color: lightgray;
}

img {
    max-width: 80px;
    max-height: 80px;
    padding-left: 25px;
}

body {
    background-color: rgb(235, 235, 235);
}

.search {
    padding-right: 25px;
}

.btn {
    border-radius: 8px;
    border-color: white;
}

.form {
    border-radius: 5px;
}

footer {
    position: absolute;
    bottom: 0px;
}
